html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Graphik-Light',sans-serif;
    color: black;
    background-color: #f1f1f1;
}

nav {
    background-color: #2c4251;
    padding: 15px 10px;
    border: 10px solid firebrick;
}

nav a {
    color:  #f1f1f1;
    text-transform: uppercase;
}

nav ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style-type: none;
}

nav li {
    margin: 10px;
}

nav li a:link {
    text-decoration: none;
  }

a.skip {
    background: white;
    padding: 6px;
    -webkit-transition: top 1s ease-out;
    transition: left 1s ease-out;
    z-index: 1;
    position: absolute;
    left: -500px;
}

a.skip:focus {
    left: 0px;
}

.active {
    background-color: firebrick;
    font-size: larger;
    font-weight: bold;
    text-decoration: #f1f1f1 underline;
    color:  #f1f1f1;
    max-width: fit-content;
}

h1 {
    font-size: 2em;
    margin: 12px 0;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

#special_text {
    font-size: 50px;
	font-weight: bolder;
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
	background-image: url('../images/Earth.jpeg');
    padding-top: 5%;
}

.intropara {
    text-transform: uppercase;
    font-size: 1.25em;
    line-height: 1.5em;
}

h2 {
    font-size: 1em;
    text-transform: uppercase;
    text-align: center;
    margin: 5%;
    font-style: italic;
    padding-bottom: 0.5em;
    border-bottom: 5px solid #2c4251;
}

h3 {
    font-family: 'Times New Roman', Times, serif;
    background-color: firebrick;
    text-align: center;
    color: #f1f1f1;
    text-transform: uppercase;
    font-size: 1em;
    padding: 5px;
}

.grid_container {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 30px;
    align-content: center;
    justify-content: space-between;
}

div {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

img {
    margin: 0 auto;
    width: 100%; 
    height: auto;
}

p {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin: 5%;
    padding: 5%;
    line-height: normal;
}


.compost {
    background-image: url(../images/1-yard-compactable-fill-dirt.jpeg);
    background-color: #f1f1f1;

      /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.compost img {
    width: 70%;
    height: 50%;
}

.composting_guide {
    padding-bottom: 5%;
    line-height: normal;
}


footer {
    background-color: #2c4251;
    padding: 5px 5px;
    border: 10px solid firebrick;
    color:  #f1f1f1;
}

i {
    font-size: 30px;
    color: lightgreen;
}

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 200px;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
  }
  
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
  
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}
  
.flip-card-front {
    background-color: #bbb;
    color: black;
}
  
  /* Style the back side */
.flip-card-back {
    background-color: firebrick;
    color: #f1f1f1;
    transform: rotateY(180deg); 
}

.flip-card img {
    width: 100%;
    height: 200px;
}



form {
    text-align: center;
    line-height: 30px;
    height: 80%;
    overflow: auto;
    display: grid;
    grid-template-columns: 1fr;
    background-color: lightgreen;
    width: 300px;
    margin: 0 auto;
}
  
form > label {
    text-align: left;
}

.message{
    font-style: italic;
    color: firebrick;
}

.gallery {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}


.gallery img {
    width: 100%;
    margin: 10px;
}

.gallery a {
    flex-wrap: wrap;
}

#flower {
    -webkit-animation: logo_grow;
    animation-name: logo_grow;
    animation-duration: 5s;
    animation-iteration-count: 1;
    -webkit-animation-duration: 5s;
    -webkit-animation-iteration-count: 1;
   }
 
 @-webkit-keyframes logo_grow{
     from {width: 25px; opacity: 0;}
     to {width: 100%; opacity: 1;}
   }  
 
 @keyframes logo_grow{
     from {width: 25px; opacity: 0;}
     to {width: 100%; opacity: 1;}
   }



#handshake {
    color: black;
}

@media screen and (prefers-reduced-motion: reduce) {
    html{
        scroll-behavior: auto; /* Removes scroll animation */
    }
    #flower {
        animation: none;
    }
    .flip-card {
        animation: none;
    }
}
@media screen and (min-width:700px) {
    .grid_container {
        grid-template-columns: 1fr 1fr;
        row-gap: 25px;
    }
    #method1, .method1-image, 
    #method3, .method3-image,
    #method5, .method5-image, 
    #method7, .method7-image {
        grid-column: 1;
    }
    #method2, .method2-image, 
    #method4, .method4-image,
    #method6, .method6-image, 
    #method8, .method8-image {
        grid-column: 2;
    }
    #method1, #method2 {
        grid-row: 1;
    }
    .method1-image, .method2-image {
        grid-row: 2;
    }
    #method3, #method4 {
        grid-row: 3;
    }
    .method3-image, .method4-image {
        grid-row: 4;
    }
    #method5, #method6 {
        grid-row: 5;
    }
    .method5-image, .method6-image {
        grid-row: 6;
    }
    #method7, #method8 {
        grid-row: 7;
    }
    .method7-image, .method8-image {
        grid-row: 8;
    }

    .method9-image, #method9 {
       justify-content: center;
    }

    #method9 {
        grid-row: 9;
    }

    .method9-image {
        grid-row: 10;
    }

    img{
        border: 4px solid black;
        height: 200px; 
    }    

    p {
        padding: 0em;
    }

    .gallery {
        flex-direction: row;
        justify-content: baseline;
        align-content: stretch;
    }
}
@media screen and (min-width: 1400px) {
    img{
          border: 4px solid black;
         width: 30%; 
    }
}